.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border:1px solid rgb(235, 235, 235);
  }
  
  .sidenav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight:500;
    border-bottom:1px solid rgb(235, 235, 235);
    font-family: 'Roboto';
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    margin-top:-5px;
    margin-right:-23px;
    border: none;
    right: 25px;
    font-size: 45px;
  }
  
  @media screen and (max-height: 650px) {
    .sidenav {padding-top: 50px;}
    .sidenav a {font-size: 18px;}
  }