@media only screen
    and (min-width: 220px)
    and (max-width: 1300px){
        /* Globals */
        body{
            padding-top: calc(80px);
            font-size: 14px; 
            max-width:100%;
            overflow-x:hidden;   
        }
        /*feed*/
        .photo__files{ 
            flex:40%;
            padding:2px;
            width:336px !important;
            height:320px !important;
        }
        .feed{
            margin-right:0%;
        }
        /* feed_detail */
        .feed_detail1{
            margin-right:0%;
        }
        .photo__usernameooo{
            width:40%;
            margin-top:8%;
        }
        .photo__usernameooo2{
            width:40%;
            margin-left:2%;
            margin-top:12%;
        }
        .photo__usernameoo{
            
            margin-left:-19.5%;
        }
        .photo__usernameoo2{
            margin-left:-18%;
        }
        /* Search */
        .photo__usernameo123{
            margin-left:0%;
        }
        /* Feed left */
        .feed_left{
            display:none;
        }
        /* Feed right */
        .feed_right{
            display:none;
        }

        /* Navigation */
        .navigation{
            height:60px;
            padding:0 10px;
        }
        .navigation__search-container{
            margin-left:1%;
            position: relative;
        }
        .navigation__search-container input{
            width:160px;
            
        }
        .navigation__icons{
            display: none;
        }
        .nav_thing{
            display:flex;
        }
        .hide_this{
            display:none;
        }
        
        /* Footer Navigation */
        .footer_nav{
            height:60px;
            padding:0 10px;
        }
        
        .footer_nav__icons{
            display: flex;
        }
        /* Photo */
        .photo{
            width:100%;
            border:none;
            margin-top:-5%;
            margin-bottom: 35px;
        }
        .photo .photo__header i{
            margin-left:61%;
           
        }
        .photo .photo__head i{
            margin-left: 57.5%;
        }
        .photo,
        .photo__time-ago{
            border:none;
        }
        /* Photo_detail1 */
        .photo_detail1{
            width:100%;
            border:none;
            margin-top:-5%;
            margin-bottom: 35px;
        }
        .photo .photo__header_detail1 i{
            margin-left:61%;
           
        } 
        /* Photo_detail1 */
        .photo_detail1o{
            width:100%;
            border:none;
            margin-top:-5%;
            margin-bottom: 35px;
        }
        .photo .photo__header_detail1o i{
            margin-left:61%;
           
        }
        .photo .photo__head i{
            margin-left: 57.5%;
        }
        .photo,
        .photo__time-ago{
            border:none;
        }
        .edit-profile{
            margin-right:0%;
        }
        .profile-form{
            width:100%;
            border:none;
            margin-top:-5%;
            margin-bottom: 35px;
            padding:30px;
        }
        .edit-profile__form{
            padding-left:10px;
            }
        /* Footer */
        .footer{
            display: none;
        }
        
        /* Explore */ 
        .people{
            width: 100%;
            border:none;
        }
        .people__person{
            border-bottom:0;
        }
        /* Login */
        .login{
            width: 90%;
            margin-top: 80px;
        }
        .signup{
            width:90%;
            margin-top:50px;
        }
        .login__column{
            width: 100%;
        }
        .login__column:first-child{
            display: none;
        }
        .login__column:last-child{
            margin-left:0
        }
        /*.login__section{
            background-color: transparent;
            border:none;
        }*/
        /* Profile */
        .profile-container{
            margin-right:0px;
        }
        .profile{
            width: 90%;
            margin:0 auto;
        }
        .profile__header{
            margin-bottom: 0;
        }
        .profile__name{
            flex-wrap: wrap;
            order:1;
        }
        .profile__avatar{
            width:77px;
            height: 77px;
        }
        .profile__title{
            font-size: 22px;
        }
        .profile__button{
            order:3;
            margin-top: 10px;
            width: 100%;
            text-align: center;
        }
        .profile__info{
            display: flex;
            flex-direction: column;
        }
        .profile__bio{
            order:2;
        }
        .profile__numbers{
            order:3;
            margin-top: 20px;
            width:100%;
        }
        .profile__numbers li{
            font-size: 14px;
            text-align: center;
            color:#999;
        }
        .profile__number{
            color:black;
            margin-bottom: 5px;
            display: inline-block;
        }
        .profile__picture{
            width: 33%;
        }
        .profile-picture__overlay{
            display: none;
        }
        .edit-profile__input,
.edit-profile__textarea,
.edit-profile__form-row select{
    border-radius: 3px;
    padding:7px 10px;
    border:1px solid rgba(0,0,0,.0975);
    width:200px;
    font-size: 16px;
    resize: vertical;
    background-color: white;
    margin-right:20px;
}
.profile-form__header{
    margin-left:50px;
}


    }