@media only screen
    and (min-width: 100px)
    and (max-width: 1300px){
        /* Globals */
        body{
            padding-top: calc(80px);
            font-size: 14px; 
            max-width:100%;
            overflow-x:hidden;   
        }
        /*feed*/
        .photo__files{ 
            flex:50%;
            padding:0px;
            width:90px !important;
            height:90px !important;
        }
        .photo__file-container{
            margin-bottom: 7px;
        }
        .feed{
            margin-right:0%;
        }
        /* feed_detail */
        .feed_detail1{
            margin-right:0%;
        }
        .photo__usernameooo{
            width:40%;
            margin-top:8%;
            margin-left:2.5%;
        }
        .photo__usernameooo2{
            width:40%;
            margin-left:4%;
            margin-top:12%;
        }
        .photo__usernameoo{
            
            margin-left:-23%;
        }
        .photo__usernameoo:hover{
            
            margin-left:-23%;
        }
        .photo__usernameoo2{
            margin-left:-18%;
        }
        /* Search */
        .photo__usernameo123{
            margin-left:0%;
        }
        /* Feed left */
        .feed_left{
            display:none;
        }
        /* Feed right */
        .feed_right{
            display:none;
        }

        /* Navigation */
        .navigation{
            height:60px;
            padding:0 10px;
        }
        .navigation__search-container{
            margin-left:2.5%;
            position: relative;
        }
        .navigation__search-container input{
            width:100%;
            
        }
        .navigation__icons{
            display: none;
        }
        .nav_thing{
            display:flex;
        }
        .hide_this{
            display:none;
        }
        
        /* Footer Navigation */
        .footer_nav{
            height:60px;
            padding:0 10px;
        }
        
        .footer_nav__icons{
            display: flex;
        }
        /* Photo */
        .photo{
            width:100%;
            border:none;
            margin-top:-20px;
            margin-bottom: 35px;
        }
        .photo .photo__header i{
            margin-left:61%;
           
        }
        .photo .photo__head i{
            margin-left: 57.5%;
        }
        .photo,
        .photo__time-ago{
            border:none;
        }
        /* Photo_detail1 */
        .photo_detail1{
            width:100%;
            border:none;
            margin-top:-20px;
            margin-bottom: 35px;
        }
        .photo .photo__header_detail1 i{
            margin-left:61%;
           
        } 
        /* Photo_detail1 */
        .photo_detail1o{
            width:100%;
            border:none;
            margin-top:-20px;
            margin-bottom: 35px;
        }
        .photo .photo__header_detail1o i{
            margin-left:61%;
           
        }
        .photo .photo__head i{
            margin-left: 57.5%;
        }
        .photo,
        .photo__time-ago{
            border:none;
        }
        .edit-profile{
            margin-right:0%;
        }
        .profile-form{
            width:100%;
            border:none;
            margin-top:-20px;
            margin-bottom: 35px;
            padding:30px;
        }
        .edit-profile__form{
            padding-left:10px;
            }
            .edit-profile__form1{
                padding-left:10px;
                }
        /* Footer */
        .footer{
            display: none;
        }
        
        /* Explore */ 
        .people{
            width: 100%;
            border:none;
        }
        .people__person{
            border-bottom:0;
        }
        /* Login */
        .login{
            width: 90%;
            margin-top: 80px;
        }
        .signup{
            width:90%;
            margin-top:10px;
        }
        .login__column{
            width: 100%;
        }
        .login__column:first-child{
            display: none;
        }
        .login__column:last-child{
            margin-left:0
        }
        .edit-profile__form-row1{
            margin-top:0%;
        }
        /*.login__section{
            background-color: transparent;
            border:none;
        }*/
        /* Profile */
        .profile-container{
            margin-right:0px;
        }
        .profile{
            width: 100%;
            margin:0 auto;
            padding:40px 0px;
            border :none;
        }
        .profile__header{
            margin-bottom: 0;
        }
        .profile__name{
            flex-wrap: wrap;
            order:1;
        }
        .profile__avatar{
            width:77px;
            height: 77px;
        }
        .profile__title{
            font-size: 22px;
        }
        .profile__button{
            order:3;
            margin-top: 10px;
            width: 100%;
            text-align: center;
        }
        .profile__info{
            display: flex;
            flex-direction: column;
        }
        .profile__bio{
            order:2;
            margin-left:-35%;
            margin-top:5%;
        }
        .profile__bio0{
            order:2;
        }
        .profile__numbers{
            order:3;
            margin-top: 20px;
            width:100%;
            margin-left:-25%;
        }
        .profile__numbers li{
            font-size: 14px;
            text-align: center;
            color:#999;
            margin-right:60px;
        }
        .profile__number{
            color:black;
            margin-bottom: 5px;
            display: inline-block;
        }
        .profile__picture{
            width: 33%;
        }
        .profile-picture__overlay{
            display: none;
        }
        .edit-profile__input,
.edit-profile__textarea,
.edit-profile__form-row select{
    border-radius: 3px;
    padding:7px 10px;
    border:1px solid rgba(0,0,0,.0975);
    width:200px;
    font-size: 16px;
    resize: vertical;
    background-color: white;
    margin-right:20px;
}
.profile-form__header{
    margin-left:50px;
}
    }
    @media only screen
    and (min-width: 200px)
    and (max-width: 270px){
        .photo__files{ 
            flex:50%;
            padding:0px;
            width:60px !important;
            height:60px !important;
        }
    }
    @media only screen
    and (min-width: 270px)
    and (max-width: 315px){
        .photo__files{ 
            flex:50%;
            padding:0px;
            width:70px !important;
            height:70px !important;
        }
    }
    @media only screen
    and (min-width: 315px)
    and (max-width: 350px){
        .photo__files{ 
            flex:50%;
            padding:0px;
            width:80px !important;
            height:80px !important;
        }
    }
    @media only screen
    and (min-width: 400px)
    and (max-width: 500px){
        .photo__files{ 
            flex:50%;
            padding:0px;
            width:110px !important;
            height:110px !important;
        }
    }
    @media only screen
    and (min-width: 500px)
    and (max-width: 600px){
        .photo__files{ 
            flex:50%;
            padding:0px;
            width:140px !important;
            height:140px !important;
        }
    }
    @media only screen
    and (min-width: 600px)
    and (max-width: 700px){
        .photo__files{ 
            flex:50%;
            padding:0px;
            width:140px !important;
            height:140px !important;
        }
    }
    @media only screen
    and (min-width: 700px)
    and (max-width: 1300px){
        .photo__files{ 
            flex:50%;
            padding:0px;
            width:158px !important;
            height:158px !important;
        }
    }